# Project specified
.vs

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj

# Linker output
*.ilk
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/

modules.order
Module.symvers
Mkfile.old
dkms.conf

.generated_files

Interm
*.tlog

**/Debug/*
**/Debug_I2C/*
**/Debug_UART/*

*.log

**/build/**
**/CMakeFiles/**
Tools/tls_cert_flash_tool/aws-iot-certs/adafeathermqtt-Policy

Tools/tls_cert_flash_tool/aws-iot-certs/adafeathermqtt.crt

Tools/tls_cert_flash_tool/aws-iot-certs/adafeathermqtt.private.key

Tools/tls_cert_flash_tool/aws-iot-certs/adafeathermqtt.public.key

Tools/tls_cert_flash_tool/aws-iot-certs/RootCA/AmazonRootCA1.cer

Tools/tls_cert_flash_tool/aws-iot-certs/RootCA/AmazonRootCA1.pem

Tools/tls_cert_flash_tool/aws-iot-certs/RootCA/convertToCer.bat

Tools/tls_cert_flash_tool/ioxy-certs/ca/rootCA.key

Tools/tls_cert_flash_tool/ioxy-certs/ca/rootCA.pem

Tools/tls_cert_flash_tool/ioxy-certs/devices/d1/d1.csr

Tools/tls_cert_flash_tool/ioxy-certs/devices/d1/d1.key

Tools/tls_cert_flash_tool/ioxy-certs/devices/d1/d1.pem

Tools/tls_cert_flash_tool/ioxy-certs/genCerts.sh

Tools/tls_cert_flash_tool/ioxy-certs/README.md

Tools/tls_cert_flash_tool/ioxy-certs/verificationCert/verificationCert.csr

Tools/tls_cert_flash_tool/ioxy-certs/verificationCert/verificationCert.key

Tools/tls_cert_flash_tool/ioxy-certs/verificationCert/verificationCert.pem

Tools/tls_cert_flash_tool/aws-iot-certs/start.sh
